@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alternative-screen-header.css";
@import "components/user-component.css";
@import "components/no-mobile.css";
@import "components/exercise.css";

/* Screens */
@import "screens/login.css";
@import "screens/workout.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/history.css";
@import "screens/progress.css";

body{
    font-family: 'Roboto Condensed', sans-serif;
    color:var(--spotify-black);

    height: 140vh;
}

main{
    padding: 0px var(--horizontal-space);
}
