.screen-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--horizontal-space);
    margin-bottom: 10px;

    background-color: var(--spotify-green);
    color:var(--spotify-black);
}

.screen-header__title{
    font-size: 25px;
    font-weight: 700;
}

.screen-header__icons{
    position: relative;
}

.screen-header__icons span{
    margin-left:20px;
}

.screen-header__icons__dot{
    position: absolute;
    top:-3px;
    right: -5px;
}

@keyframes rotateGear {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover{
    animation: rotateGear 2000ms linear infinite;
}